---
import { ViewTransitions } from "astro:transitions";
import { getCollection } from "astro:content";
import Libmaps from "../components/ol/Libmaps.svelte";
interface Props {
  title: string;
}

const { title } = Astro.props;

const maps = await getCollection("maps");

const mapsInfo = maps.map((entry) => ({
  cogurl: entry.data.cogurl,
  shortname: entry.data.shortname,
  slug: entry.slug,
}));

const metaTitle = `${
  title && title + " / "
}Historical Maps of Singapore, digitised by Department of Geography, National University of Singapore`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metaTitle} />
    <meta name="viewport" content="width=device-width" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://libmaps.nus.edu.sg" />
    <meta name="twitter:title" content="Historical Maps of Singapore" />
    <meta
      name="twitter:description"
      content="Digitised by Deparment of Geography, National University of Singapore. Made available by NUS Libraries."
    />
    <meta name="twitter:domain" content="nus.edu.sg" />
    <meta property="og:site_name" content="Historical Maps of Singapore" />
    <meta name="twitter:image:src" content="/squareCard.png" />
    <meta name="twitter:image:width" content="680" />
    <meta name="twitter:image:height" content="680" />
    <meta property="og:url" content="https://libmaps.nus.edu.sg" />
    <meta property="og:title" content="Historical Maps of Singapore" />
    <meta property="og:image" content="/ogImage.png" />
    <meta
      property="og:description"
      content="Digitised by Deparment of Geography, National University of Singapore. Made available by NUS Libraries."
    />
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{metaTitle}</title>
    <ViewTransitions />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8X7NLQ7Q24"
    ></script>
    <script type="application/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-8X7NLQ7Q24");
    </script>
  </head>
  <body>
    <Libmaps client:load mapsInfo={mapsInfo} transition:persist="maps" />
    <div
      class="absolute top-4 right-0 max-h-[calc(100vh-2em)] overflow-y-scroll backdrop-blur-md bg-base-100/80 rounded-l-lg p-4"
    >
      <header class="grid grid-flow-row sm:grid-flow-col justify-end">
        <a href="/" class="mr-4 mb-4 align-top">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 lg:h-12 fill-base-content"
            viewBox="0 0 225.591 60"
          >
            <title>NUS Libraries</title>
            <use xlink:href="/NUSLlogo.svg#nusllogo"></use>
          </svg>
        </a>
        <div>
          <h1 class="text-xl font-bold">Historical maps of Singapore</h1>
          <h2 class="text-xs">
            Digitised by Department of Geography, National University of
            Singapore
          </h2>
          <nav class="tabs tabs-bordered">
            <a
              class="tab h-12 px-2 lg:px-4 text-base-content hover:text-base-content/50"
              href="/">Home</a
            >
            <a
              class="tab h-12 px-2 lg:px-4 text-base-content hover:text-base-content/50"
              href="/about">About</a
            >
            <a
              class="tab h-12 px-2 lg:px-4 text-base-content hover:text-base-content/50"
              href="/maps">Metadata</a
            >
            <a
              class="tab h-12 px-2 lg:px-4 text-base-content hover:text-base-content/50"
              href="/termsOfUse">Terms Of Use</a
            >
          </nav>
        </div>
      </header>
      <main class="prose">
        {
          Astro.url.pathname != "/" && (
            <div class="flex items-start">
              <a href="/" class="h-12 mt-4 mr-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                  role="button"
                  tabindex="0"
                  class="h-10 fill-current"
                >
                  <use xlink:href="/xmark.svg#xmark" />
                </svg>
              </a>
              <h1 class="mt-4">{title}</h1>
            </div>
          )
        }
        <slot name="content" />
      </main>
    </div>
    <style is:global>
      body {
        margin: 0;
      }
    </style>
  </body>
</html>
